html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background: #4f73cd;
  color: $color-text;
  font: $body-font;
}

.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 40px $container-padding;

  @include media('tablet') {
    max-width: 728px;
  }
}
