$container-padding: 20px;
$container-width: 1210px;

$color-text: #fff;

$font-Golos-Text: 'Golos Text', Arial, sans-serif;

$body-font: 16px/1.4 $font-Golos-Text;

// @include media('tablet')
$breakpoints: (
  'tablet': (
    max-width: 1439px,
  ),
  'mobile': (
    max-width: 767px,
  ),
);
