.cards {
}

.cards__heading {
  margin: 0 0 17px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.48;

  @include media('mobile') {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.1;
  }
}

.cards__inner {
  position: relative;
}

.cards__slider {
  overflow: hidden;
  margin: -30px -30px -50px;
  padding: 30px 30px 50px;

  .swiper-wrapper {
    height: 530px;

    @include media('tablet') {
      height: 654px;
    }

    @include media('mobile') {
      height: 480px;
    }
  }
}

.cards__arrow {
  position: absolute;
  top: calc(50% - 20px);
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url("data:image/svg+xml,%3Csvg width='12' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 17L2 9.5 10 2' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
    no-repeat 13px 50%;
  transition: 0.2s;

  @include media('tablet') {
    display: none;
  }

  &:not(.swiper-button-disabled) {
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #0047ff;
    }
  }

  &:focus {
    outline: none;
  }

  &--prev {
    left: -88px;
  }

  &--next {
    right: -88px;
    transform: scaleX(-1);
  }

  &.swiper-button-disabled {
    opacity: 0;
  }
}

.cards__dots {
  display: none;
  margin: 20px 0 0;

  @include media('tablet') {
    display: flex;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 0 5px;
    border-radius: 50%;
    outline: none;
    background: #fff;

    &-active {
      background: #0047ff;

      &:first-child:last-child {
        display: none;
      }
    }
  }
}
